<p-panel>
  <ng-template pTemplate="header">
    <div  class="col -md-6" style="text-align:left">
    <strong>EMPLOYEES </strong>
    <input type="text" pInputText placeholder="Search Employee" (input)="table.filterGlobal($any($event.target).value,'contains')"    />
  </div>
      <div class="col-sm-6" style="text-align:right">
      <button pButton  type="button" label="Create New"  icon="pi pi-plus" routerLink="../cretenewemployee"  class="p-button-sm p-button-success" ></button>
  </div>
  </ng-template>
  <p-table #table [columns]="cols" [value]="empdata" [tableStyle]="{'min-width': '50rem'}"  [paginator]="true" [rows]="10" styleClass="p-datatable-gridlines"   [globalFilterFields]="['employeeID','firstName','lastName','designationName','email','IsActive','panNumber','isActive','shiftName']">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        <div class="p-d-flex p-jc-between p-ai-center">
          {{col.header}}
        <p-columnFilter style="color:rgb(79, 85, 90)" type="text" [field]="col.field" display="menu"></p-columnFilter>
      </div>
    </th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td  [routerLink]="['../updateemployee']" *ngFor="let col of columns">{{rowData[col.field]}}</td>
   </tr>

  </ng-template>

</p-table>
</p-panel>

