<p-panel>
  <ng-template pTemplate="header">
    <div class="col -md-6" style="text-align: left">
      <strong>UPDATE EMPLOYEE </strong>
    </div>
    <div class="col-sm-6"  style="text-align:right">
      <button pButton class="h-1rem" style="float: right; font-size: smaller;" routerLink="/navbar/Employees"><i
          class="pi pi-arrow-left icon"></i>BACK</button>

      <button pButton class="h-1rem p-button-success" style="float: right;margin-right:5px; font-size: smaller;" type="submit"
      (click)="onSubmit(f.value)"><i class="pi pi-check icon" ></i>SAVE</button>

    </div>
    <!-- <div class="col -md-6" style="text-align: right">
      <button
        pButton
        type="button"
        style="float: right; font-size: smaller;"
        icon=" pi pi-arrow-left icon"
        iconPos="left"
        routerLink="/navbar/Employees"
        class="p-button h-1rem"
      >BACK</button
      >&nbsp;
      <button
        pButton
        style="float: right; font-size: smaller;"
        type="subit"
        
        (click)="onSubmit(f.value)"
        icon="pi pi-check icon"
        iconPos="left"
        class="p-button-success h-1rem"
      >SAVE</button>
    </div> -->
  </ng-template>
  <form
    [formGroup]="updatedForm"
    #f="ngForm"
    (ngSubmit)="onSubmit(f.form.value)"
  >
    <div class="row">
      <div class="col-md-4">
        <div class="col-12 md:col-4">
          <label for="employeeID" class="input-styling"
            >EmployeeID <span class="required">*</span></label
          >
          <input
            type="text"
            pInputText
            class="p-inputtext-normal h-2rem"
            style="cursor: not-allowed"
            formControlName="employeeID"
          />
          <br />
          <br />

          <label for="email" class="input-styling"
            >Email <span class="required">*</span></label
          >
          <input
            type="text"
            class="p-inputtext-normal h-2rem"
            pInputText
            formControlName="Email"
          />
          <br />
          <br />

          <label for="designationName" class="input-styling"
            >DesignationID <span class="required">*</span></label
          >
          <p-dropdown
            [options]="roles"
            name="name"
            optionLabel="name"
            placeholder="Select Designation"
            formControlName="DesignationId"
            dataKey="id"
          ></p-dropdown>
          <br />
          <br />
          <p-checkbox
            [binary]="true"
            inputId="binary"
            formControlName="checked"
          ></p-checkbox>
          <label for="any">IsActive<span class="required">*</span></label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-12 md:col-4">
          <label for="firstName" class="input-styling"
            >FirstName <span class="required">*</span></label
          >
          <input
            type="text"
            pInputText
            class="p-inputtext-normal h-2rem"
            formControlName="FirstName"
          />
          <br />
          <br />

          <label for="panNumber" class="input-styling"
            >PanNumber <span class="required">*</span></label
          >
          <input
            type="text"
            class="required"
            class="p-inputtext-normal h-2rem"
            pInputText
            formControlName="PanNumber"
          />
          <br />
          <br />

          <label for="shiftName" class="input-styling"
            >ShiftId <span class="required">*</span></label
          >

          <p-dropdown
            [options]="shifts"
            name="shiftName"
            optionLabel="shiftName"
            placeholder="Select Shift"
            formControlName="shiftId"
            dataKey="shiftId"
          ></p-dropdown>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-12 md:col-4">
          <label for="lastName" class="input-styling" required
            >LastName<span class="required">*</span>
          </label>
          <input
            type="text"
            class="p-inputtext-normal h-2rem"
            pInputText
            formControlName="LastName"
          />
          <br />
          <br />
          <label for="Password" class="input-styling" required
            >Password<span class="required">*</span>
          </label>
          <input
            type="text"
            class="p-inputtext-normal h-2rem"
            required
            pInputText
          />
          <br />
          <br />

          <label for="dateofjoining-input" class="input-styling" required
            >DOJ <span class="required">*</span>
          </label>
          <input
            type="text"
            class="p-inputtext-normal h-2rem"
            pInputText
            formControlName="DOJ"
          />
        </div>
      </div>
    </div>
  </form>
</p-panel>
