<p-panel>
  <ng-template pTemplate="header">
    <div class="col -md-6" style="text-align: left">
      <strong>UPDATE EMPLOYEE </strong>
    </div>
    <div class="col-sm-6" style="text-align: right">
      <button
        pButton
        type="button"
        label="Back"
        icon=" pi pi-arrow-left"
        iconPos="left"
        routerLink="/navbar/Employees"
        class="p-button-sm h-2rem"
      ></button
      >&nbsp;
      <button
        pButton
        type="subit"
        label="Save"
        icon="pi pi-check"
        iconPos="left"
        class="p-button-sm h-2rem"
      ></button>
    </div>
  </ng-template>
  <form [formGroup]="updatedForm">
    <div class="row">
      <div class="col-md-4">
        <div class="col-12 md:col-4">
          <label for="employeeID" class="input-styling"
            >EmployeeID <span class="required">*</span></label
          >
          <input
            type="text"
            pInputText
            class="p-inputtext-normal h-2rem"
            style="cursor: not-allowed"
            formControlName="employeeID"
          />
          <br />
          <br />

          <label for="email" class="input-styling"
            >Email <span class="required">*</span></label
          >
          <input
            type="text"
            class="p-inputtext-normal h-2rem"
            pInputText
            formControlName="Email"
          />
          <br />
          <br />

          <label for="designationName" class="input-styling"
            >DesignationID <span class="required">*</span></label
          >
          <p-dropdown
            [options]="roles"
            name="name"
            optionLabel="name"
            placeholder="Select Designation"
            formControlName="DesignationId"
            dataKey="id"
          ></p-dropdown>
          <br />
          <br />
          <p-checkbox
            [binary]="true"
            inputId="binary"
            formControlName="checked"
          ></p-checkbox>
          <label for="any">IsActive<span class="required">*</span></label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-12 md:col-4">
          <label for="firstName" class="input-styling"
            >FirstName <span class="required">*</span></label
          >
          <input
            type="text"
            pInputText
            class="p-inputtext-normal h-2rem"
            formControlName="FirstName"
          />
          <br />
          <br />

          <label for="panNumber" class="input-styling"
            >PanNumber <span class="required">*</span></label
          >
          <input
            type="text"
            class="required"
            class="p-inputtext-normal h-2rem"
            pInputText
            formControlName="PanNumber"
          />
          <br />
          <br />

          <label for="shiftName" class="input-styling"
            >ShiftId <span class="required">*</span></label
          >

          <p-dropdown
            [options]="shifts"
            name="shiftName"
            optionLabel="shiftName"
            placeholder="Select Shift"
            formControlName="shiftId"
            dataKey="shiftId"
          ></p-dropdown>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-12 md:col-4">
          <label for="lastName" class="input-styling" required
            >LastName<span class="required">*</span>
          </label>
          <input
            type="text"
            class="p-inputtext-normal h-2rem"
            pInputText
            formControlName="LastName"
          />
          <br />
          <br />
          <label for="Password" class="input-styling" required
            >Password<span class="required">*</span>
          </label>
          <input
            type="text"
            class="p-inputtext-normal h-2rem"
            required
            pInputText
          />
          <br />
          <br />

          <label for="dateofjoining-input" class="input-styling" required
            >DOJ <span class="required">*</span>
          </label>
          <input
            type="text"
            class="p-inputtext-normal h-2rem"
            pInputText
            formControlName="DOJ"
          />
        </div>
      </div>
    </div>
  </form>
</p-panel>
