<p-panel>
  <ng-template pTemplate="header">
    <div class="col -md-6" style="text-align:left">
      <strong>CREATE TAXTYPE </strong>
    </div>
    <div class="col-sm-6" style="text-align:right">
      <p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
      <button pButton class="h-1rem" style="float: right; font-size: smaller;margin-right:10px;" routerLink="/navbar"><i
          class="pi pi-arrow-left icon"></i>BACK</button>
      <button pButton class="h-1rem p-button-success" style="float: right;margin-right:5px; font-size: smaller;" (click)="AddTaxType()" [disabled]="!form.valid"><i
          class="pi pi-check icon"></i>SAVE</button>
    </div>
  </ng-template>
  <div class="row">
    <form class=" form-styles cont  " [formGroup]="form">
      <div>
        <label for="designation-input" class="input-styling" required>Type
          <span class="required">*</span>
        </label>
        <input id="designation-input" class="h-2rem" type="input" placeholder="Enter Tax Type" pInputText name="tax" formControlName="tax" />
      </div>
    </form>
  </div>
</p-panel>
