
.create-container{
    color:white;
    padding:3px;
    padding-top:7px !important;
    background-color: rgb(45, 45, 53) ;
    margin:20px;
    font-size: smaller;
    border-radius: 6px;;
}
.icon{
    font-size: 10px;
    padding-right:5px;
}

.taxtype-content-container{

    display: flex;
    justify-content: center;
    align-items: center;
}
.taxtype-input-field{
    display: flex;
    flex-direction: column;

    height: 50%;
    padding-top: 7px;
}



