
<p-panel>
    <ng-template pTemplate="header">
      <div  class="col -md-6" style="text-align:left">
      <strong>SALARY DISPLAY LIST  </strong>
      <input style="margin-left:10px;" type="text" pInputText class="h-1rem" placeholder="Search Employee" (input)="table.filterGlobal($any($event.target).value,'contains')"    />
    </div>
        <div class="col-sm-6" style="text-align:right">
            <button pButton routerLink="../create-new-salary-details" class="h-1rem p-button-success"style="float: right;font-size: small;font-weight: 500;margin-right:10px;">+ CREATE NEW</button>
    </div>
    </ng-template>
    <p-table #dt [value]="empSalDetails"   styleClass="p-datatable p-datatable-gridlines p-datatable-striped" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,15,20,25]"
    [globalFilterFields]="['Eid','Name','salary','lastRevisedDate','nextRevisedDate']" responsiveLayout="scroll">

    
    <ng-template pTemplate="header">
        <tr>

            <th>
                <div class="p-d-flex p-jc-between p-ai-center ">
                    Employee ID
                    <p-columnFilter type="text" field="Eid" display="menu"></p-columnFilter>
                </div>

            </th>
            <th><div class="p-d-flex p-jc-between p-ai-center">
                Employee name
                <p-columnFilter type="text" field="firstName" display="menu"></p-columnFilter>
            </div></th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Salary
                    <p-columnFilter type="text" field="salary" display="menu"></p-columnFilter>
                </div>

            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Last Revised Date
                    <p-columnFilter type="text" field="lastRevisedDate" display="menu"></p-columnFilter>
                </div>

            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Next Revised Date
                    <p-columnFilter type="text" field="nextRevisedDate" display="menu"></p-columnFilter>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Employee>
        <tr>
            <td>
                    <a href="#" class="empId" [routerLink]="['../updateSalaryDetails', Employee.empId]" >{{Employee.Eid}}</a>
            </td>
        <td>{{Employee.Name}}</td>
        <td>{{Employee.salary}}</td>
        <td>{{Employee.lastRevisedDate}}</td>
        <td>{{Employee.nextRevisedDate}}</td>
        </tr>
    </ng-template>

  </p-table>
  </p-panel>

