<p-panel  >
  <ng-template pTemplate="header" >
    <div  class="col -md-6" style="text-align:left">
    <strong>CREATE SALARY DETAILS </strong>
  </div>
      <div class="col-sm-6" style="text-align:right">
        <button pButton class="h-1rem" style="float: right; font-size: smaller;margin-right:10px;"
        routerLink="/navbar/salary-details"><i class="pi pi-arrow-left icon"></i>BACK</button>


        <button
          pButton class="h-1rem p-button-success"
         style="float: right;margin-right:5px; font-size: smaller;"
         type="submit" (click)="onFormSubmit()" >
         <i class="pi pi-check icon"></i>SAVE</button>
  </div>
  </ng-template>


  <div class="row">
    <form
     [formGroup]="empForm"
     class="form-styles cont"
      (submit)="onFormSubmit()" >

      <div class="cont2 ">
       <label for="designation-input" class="input-styling" required >EmpID
           <span class="required">*</span>
        </label>
        <p-dropdown [options]="names" placeholder="Select Employee" optionLabel="name"
        [showClear]="true"  formControlName="EmpId"  ></p-dropdown>
        <div *ngIf="submitted && f['EmpId'].errors" class="alert alert-danger">

          <div *ngIf="f['EmpId'].errors['required']">Name is required</div>

          </div>
      </div>
      <div  class="cont2">
       <label for="designation-input" class="input-styling" required  >Salary
           <span class="required">*</span>
        </label>
        <input id="designation-input" class="h-2rem" type="input" placeholder="Enter Salary" pInputText formControlName="Salary"  />
        <div *ngIf="submitted && f['Salary'].errors" class="alert alert-danger">
          <div *ngIf="f['Salary'].errors['required']">Salary is required</div>
          </div>
      </div>
      <div  class="cont2">
       <label for="designation-input" class="input-styling" required>Last Revised Date
           <span class="required">*</span>
        </label>
        <p-calendar [showIcon]="true"  id="designation-input" placeholder="DD-MM-YYYY"  formControlName="LastRevisedDate"></p-calendar>
        <div *ngIf="submitted && f['LastRevisedDate'].errors" class="alert alert-danger">

          <div *ngIf="f['LastRevisedDate'].errors['required']">Date is required</div>

          </div>
      </div>
      <div  class="cont2">
       <label for="designation-input" class="input-styling" required>Next Revised Date
           <span class="required">*</span>
        </label>
        <p-calendar [showIcon]="true"  id="designation-input" placeholder="DD-MM-YYYY"  formControlName="NextRevisedDate"></p-calendar>
        <div *ngIf="submitted && f['NextRevisedDate'].errors" class="alert alert-danger">

          <div *ngIf="f['NextRevisedDate'].errors['required']">Date field required</div>

          </div>
      </div>
    </form>
</div>
</p-panel>
