<p-panel  >
  <ng-template pTemplate="header" >
    <div  class="col -md-6" style="text-align:left">
    <strong>CREATE SALARY DETAILS </strong>
  </div>
      <div class="col-sm-6" style="text-align:right">
        <button pButton class="h-1rem" style="float: right; font-size: smaller;margin-right:10px;"
        routerLink="/navbar/salary-details"><i class="pi pi-arrow-left icon"></i>BACK</button>

        
        <button
          pButton class="h-1rem p-button-success"
         style="float: right;margin-right:5px; font-size: smaller;"
         type="submit" (click)="onFormSubmit()" >
         <i class="pi pi-check icon"></i>SAVE</button>
         <p-toast position="top-center" ></p-toast>
  </div>
  </ng-template>


  <div class="row">
    <form
     [formGroup]="empForm"
     class="form-styles cont"
      (submit)="onFormSubmit()" >

      <div class="cont2 ">
       <label for="designation-input" class="input-styling" required >EmpID
           <span class="required">*</span>
        </label>
        <p-dropdown [options]="names" placeholder="Select Employee" optionLabel="name"
        [showClear]="true"  formControlName="EmpId"  ></p-dropdown>
        <small class="text-danger "  *ngIf="!empForm.get('EmpId')?.valid &&(empForm.get('EmpId')?.touched||empForm.get('EmpId')?.dirty)">Name is required
        </small>
      </div>
      <div class="cont2" [style]="{ width: '14rem' }">
        <label class="p-mb-4 mb-2">Salary
          <span class="required" required>*</span>
        </label>
        <p-inputNumber id="Salary"  mode="currency" currency="INR" locale="en-US" autofocus placeholder="Salary"
           formControlName="Salary"  class="h-2rem" >
           </p-inputNumber>

           <small class="text-danger "  *ngIf="!empForm.get('Salary')?.valid &&(empForm.get('Salary')?.touched||empForm.get('Salary')?.dirty)">

            Salary is required</small>

      </div>

      <div  class="cont2">
       <label for="designation-input" class="input-styling" required>Last Revised Date
           <span class="required">*</span>
        </label>
        <p-calendar [showIcon]="true"  id="designation-input" placeholder="DD-MM-YYYY"  formControlName="LastRevisedDate"></p-calendar>
        <small class="text-danger "  *ngIf="!empForm.get('LastRevisedDate')?.valid &&(empForm.get('LastRevisedDate')?.touched||empForm.get('LastRevisedDate')?.dirty)">LastRevisedDate is required
        </small>
      </div>
      <div  class="cont2">
       <label for="designation-input" class="input-styling" required>Next Revised Date
           <span class="required">*</span>
        </label>
        <p-calendar [showIcon]="true"  id="designation-input" placeholder="DD-MM-YYYY"  formControlName="NextRevisedDate"></p-calendar>
        <small class="text-danger "  *ngIf="!empForm.get('NextRevisedDate')?.valid &&(empForm.get('NextRevisedDate')?.touched||empForm.get('NextRevisedDate')?.dirty)">NextRevisedDate is required
        </small>
      </div>
    </form>
</div>
</p-panel>
