<!-- saleem changes -->
<div class="laps-main-container">
    
    <div class="laps-container">
        <div class="laps-caption-content1">
            <h1 class="laps-title mt-3">APPROVAL SCREEN</h1>
        </div>
        <div class="laps-buttons-container">
            <button class="creat-button" routerLink="../../leavesApprov"> <i class="pi pi-arrow-left"></i> Back</button>
            <button class="creat-button" form="myForm" (click)="onSave()"> <i class="pi pi-check" ></i> Save</button>
        </div>
    </div>
    <!-- routerLink="../bankDetails" -->
    <form class="laps-contnt-container" id="myForm" #myForm="ngForm">
        
        <div class="laps-input-container" >
                 <label for="leaveType" class="label mb-2">
                    LeaveType<span class="laps-empClass">*</span>
                </label>
                 <select name="leaveType" id="leaveType" class="laps-input-fields" (change)="onSelectLeaveTye($event.target)">
                     <!-- <option  selected="Default" value="SELECT EMPLOYEE">SELECT LEAVE</option> -->
                     <option value={{leavetype.leaveTypeName}} *ngFor="let leavetype of leaveType">{{leavetype.leaveTypeName}}</option>
                 </select>  
                
        </div>

        <div class="laps-input-container" >
                 <label for="EmpId" class="label mb-2">
                    EmpId<span class="laps-empClass">*</span>
                </label>
                 <select name="EmpId" id="EmpId" class="laps-input-fields disabledButton" disabled>
                     <option>{{speficEmployeeLeaveData.firstName}} {{speficEmployeeLeaveData.lastName}}</option>
                 </select>  
        </div>
  
       <div class="laps-input-container">
            <label for="numofDays" class="label mb-2">NumOfDays<span class="laps-empClass">*</span></label>
            <input type="text" id="numofDays" class="laps-input-fields disabledButton" placeholder="Number Of Days" name="noOfDays" disabled  [(ngModel)]="speficEmployeeLeaveData.numOfDays"/>
       </div>
    
       <div class="laps-input-container">
            <label for="fromDate" class="label mb-2">FromDate<span class="laps-empClass">*</span></label>
            <input 
            type="text" 
            id="fromDate"
             class="laps-input-fields disabledButton" 
             disabled value="From Date" 
             name="fromDate"  
             [ngModel]="speficEmployeeLeaveData.fromDate | date: 'dd-MM-yyyy'"
              (ngModelChange)="speficEmployeeLeaveData.fromDate=$event"
              />
       </div>
    
       <div class="laps-input-container">
        <label for="toDate" class="label mb-2">ToDate<span class="laps-empClass">*</span></label>
        <input type="text" id="toDate" class="laps-input-fields disabledButton" disabled value="To Date" name="toDate" 
        [ngModel]="speficEmployeeLeaveData.toDate | date: 'dd-MM-yyyy'"
              (ngModelChange)="speficEmployeeLeaveData.toDate=$event"
        />
       </div>

       <div class="laps-input-container">
            <label for="appliedOn" class="label mb-2">AppliedOn<span class="laps-empClass">*</span></label>
            <input type="text" id="appliedOn" class="laps-input-fields disabledButton" disabled value="Applied On" name="appliedOn"
            [ngModel]="speficEmployeeLeaveData.appliedOn | date: 'dd-MM-yyyy'"
              (ngModelChange)="speficEmployeeLeaveData.appliedOn=$event"
            />
        </div>

        <div class="laps-input-container">
            <label for="comments" class="label mb-2">Comments<span class="laps-empClass">*</span></label>
            <input type="text" id="comments" class="laps-input-fields disabledButton" disabled value="Comments" name="comments" [(ngModel)]="speficEmployeeLeaveData.comments"/>
        </div>

        <div class="laps-input-container">
            <label for="Admin-comments" class="label mb-2">Admin Comments<span class="laps-empClass">*</span></label>
            <input type="text" id="Admin-comments" class="laps-input-fields disabledButton" disabled value="Admin Comments" name="Admin-comments" [(ngModel)]="speficEmployeeLeaveData.adminComments"/>
        </div>

        <div class="laps-input-container" >
            <label for="StatusId" class="label mb-2">
               Status ID<span class="laps-empClass">*</span>
           </label>
            <select name="StatusId" id="StatusId" class="laps-input-fields" (change)="onSelectStatusType($event.target)">
                <option value={{status.statusType}} *ngFor="let status of statusId">{{status.statusType}}</option>
            </select>  
        </div>
    </form>
  </div>
  
  