

 .laps-container{
    background-color: rgb(121, 121, 128);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.laps-caption-content1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.laps-buttons-container{

    justify-content: center;
    align-items: center;
    width: 170px;
    display: flex;
    margin-right: -6px;


}
.laps-title{
    font-size: 15px ;
    font-weight: 550;
    color: #ffffff;
}
.creat-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    color: white !important;
   padding: 5px;
   font-size: 12px;
   width: 80px;
   background-color: #3B82F6;
   margin-right: 12px;
   border-radius: 6px;
   outline: none;
   border: none;
}

.btn-text{
    margin-top: 15px;
}
.laps-contnt-container{
    height: 340px;
    border: 1px solid rgb(121, 121, 128);;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
    flex-wrap: wrap;
    display: flex;
}
.laps-input-container{
    display: flex;
    flex-direction: column;

    width: 31%;
    padding: 7px;
    margin: 10px;

}
.laps-empClass{
    color: red;
    font-weight: 600;
}
.laps-label{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    color: #1d3c41;
}
.laps-input-fields{
    font-size: 14px;
    height: 33px;
    border: 1px solid #d7dfe9;
   font-weight: 500;
    border-radius: 3px;
    padding: 8px 16px 8px 16px;
    max-width: 350px;
    /* box-shadow: 1px 1px 1px 1px black inset; */
    /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
}

.disabledButton{
   cursor: not-allowed;
   font-weight: 500;
   font-size: 16px;
}