

 <div class="laps-main-container">
    <div class="laps-container">
        <div class="laps-caption-content1">
            <h1 class="laps-title mt-3">APPROVAL SCREEN</h1>
        </div>
        <div class="laps-buttons-container">
         
          
            <button 
            class="p-button h-1rem"
            style="float: right; margin-right: 15px; font-size: smaller;padding-right: 8px;padding-right: 12px;"
             routerLink="../../leavesApprov"> 
                <i class="pi pi-arrow-left icon" style="font-size: 0.7rem;margin-top: 3px;"></i> 
                <p class="btn-text">BACK</p>

            </button>
            <button 
            pButton
            class="p-button-success h-1rem" 
            style="float: right; margin-right: 15px; font-size: smaller;padding-right: 12px;"
            form="myForm" 
            type="submit" 
            >
                <i class="pi pi-check icon" style="font-size: 0.7rem;margin-top: 3px;"></i> 
                <p class="btn-text">SAVE</p>
            </button>
        </div>
    </div>
    <p-toast position="top-center"></p-toast>
    <form 
    class="laps-contnt-container"
     id="myForm" 
     #myForm="ngForm"
      (ngSubmit)="onSave(myForm.form.valid)">
        <div class="cont2" >
        
            <label for="designation-input" class="input-styling" 
              >LeaveType
              <span class="required">*</span>
            </label>
            <p-dropdown
            [options]="leaveType"
            optionLabel="leaveTypeName"
            [showClear]="true"
            name="leaveTypeName"
            placeholder="Select Leave Type"
            (onChange)="onSelectLeaveTye($event.value)"
            [(ngModel)]="leaveTypeName2"
            [required]="true"
            #leaveTypeDropdown="ngModel" 
            [ngClass]="{ 'error': isSubmited && leaveTypeDropdown.errors }"
            [@shakeAnimation]=" !(isSubmited && leaveTypeDropdown.errors) ?'valid':'invalid'"
            ></p-dropdown>
            
            
              <div *ngIf="isSubmited && leaveTypeDropdown.errors" class="alert alert-danger">
                <span style="font-size: 12px;" *ngIf="leaveTypeDropdown.errors?.['required']">Leave type is required.</span>
              </div>


        </div>

        <div class="cont2" >
        
            <label for="name" class="input-styling" 
              >EmpId
              <span class="required">*</span>
            </label>
            <p-dropdown
              [options]="[speficEmployeeLeaveData]"
              optionLabel="name"
              [showClear]="true"
              name="name"
              [disabled]="true"
              style="cursor: not-allowed;"
              ></p-dropdown>
          
            </div>
        
          <div class="cont2">
            <label for="numofDays" class="input-styling">numofDays <span class="required">*</span></label>
            
            <input 
            type="text" 
            id="numofDays"
            pInputText
            class="h-2rem"
             disabled 
             style="cursor: not-allowed;"
              name="numofDays" 
              [(ngModel)]="speficEmployeeLeaveData.numOfDays"/>
        </div>
       
       
      <div class="cont2">
        <label for="fromDate" class="input-styling">FromDate <span class="required">*</span></label>
            <input 
            type="text" 
            pInputText
            id="fromDate"
            class="h-2rem"
             name="fromDate"  
             disabled
             style="cursor: not-allowed;"
             [ngModel]="speficEmployeeLeaveData.fromDate | date: 'dd-MM-yyyy'"
              (ngModelChange)="speficEmployeeLeaveData.fromDate=$event"
              />
       </div>
    
       <div class="cont2">
        <label for="toDate" class="input-styling">ToDate <span class="required">*</span></label>
        <input
         type="text"
         pInputText
        id="toDate"
        class="h-2rem"
        disabled 
         name="toDate" 
         style="cursor: not-allowed;"
        [ngModel]="speficEmployeeLeaveData.toDate | date: 'dd-MM-yyyy'"
        (ngModelChange)="speficEmployeeLeaveData.toDate=$event"
        />
       </div>

       <div class="cont2">
        <label for="appliedOn" class="input-styling">AppliedOn <span class="required">*</span></label>
            
            <input 
            type="text" 
            id="appliedOn" 
            class="h-2rem"
             disabled 
             pInputText
              name="appliedOn"
              style="cursor: not-allowed;"
            [ngModel]="speficEmployeeLeaveData.appliedOn | date: 'dd-MM-yyyy'"
              (ngModelChange)="speficEmployeeLeaveData.appliedOn=$event"
            />
        </div>

         <div class="cont2">
            <label for="comments" class="input-styling">Comments <span class="required">*</span></label>
            
            <input 
            type="text" 
            id="comments"
            pInputText
            class="h-2rem"
             disabled 
              name="comments" 
              style="cursor: not-allowed;"
              [(ngModel)]="speficEmployeeLeaveData.comments"/>
        </div>

         <div class="cont2">
            <label for="toDate" class="input-styling">Admin Comments <span class="required">*</span></label>
            
            <input 
            type="text"
             id="Admin-comments" 
             pInputText
             class="h-2rem"
             disabled value="Admin Comments" 
             name="Admin-comments" 
             style="cursor: not-allowed;"
             [(ngModel)]="speficEmployeeLeaveData.adminComments"/>
        </div>


        <div class="cont2" >
        
            <label for="StatusId" class="input-styling" 
              >Status ID
              <span class="required">*</span>
            </label>
            <p-dropdown
              [options]="statusId"
              optionLabel="statusType"
              [showClear]="true"
              name="StatusId"
              placeholder="Select Status Type"
              (onChange)="onSelectStatusType($event.value)"
              [(ngModel)]="statusTypeName2"
              [required]="true"
              #statusType="ngModel" 
              [ngClass]="{ 'error': isSubmited && statusType.errors }"
              [@shakeAnimation]=" !(isSubmited && statusType.errors) ?'valid':'invalid'"
              ></p-dropdown>

              
              <div *ngIf="isSubmited && statusType.errors" class="alert alert-danger">
                <span style="font-size: 12px;" *ngIf="statusType.errors?.['required']">Status type is required.</span>
              </div>


            </div>
    </form>
  </div>
  
  