<p-panel>
  <ng-template pTemplate="header">
    <div class="col -md-6" style="text-align: left">
      <strong>CREATE BANK DETAILS</strong>
    </div>
    <div class="col-sm-6" style="text-align: right">
      <p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'" ></p-toast>
      <button
        pButton
        class="h-1rem"
        style="float: right; font-size: smaller; margin-right: 10px"
        routerLink="../bankDetails"
      >
        <i class="pi pi-arrow-left icon"></i>BACK
      </button>
      <button
        pButton
        class="h-1rem p-button-success"
        style="float: right; margin-right: 5px; font-size: smaller"
        type="submit"
        form="myForm"
      >
        <i class="pi pi-check icon"></i>SAVE
      </button>
    </div>
  </ng-template>
  
  
  <div class="row">
    <form
    [formGroup]="employeDetails" 
      id="myForm"
      #myForm="ngForm"

      class="form-styles cont"
      (ngSubmit)="onFormSubmit()"
    >
      <div class="cont2" >
        
        <label for="designation-input" class="input-styling" 
          >EmpID
          <span class="required">*</span>
        </label>
        <p-dropdown
          [options]="employeNameArray"
          placeholder="Select Employee"
          optionLabel="Name"
          [showClear]="true"
          name="EmpNameById"
          formControlName="EmpNameById"
          [ngClass]="{'error':submitted && f['EmpNameById'].errors}"
          [@shakeAnimation]=" !(submitted && f['EmpNameById'].errors) ?'valid':'invalid'"
          ></p-dropdown>
          
          <div *ngIf="submitted && f['EmpNameById'].errors" class="alert alert-danger">
            <div style="font-size: 12px;" *ngIf="f['EmpNameById'].errors['required']">EmpID field required</div>
          </div>
      
        </div>

    


      <div class="cont2">
        <label for="accno" class="input-styling"
          >Acc No<span class="required">*</span></label
        >
        <input
          type="text"
          pInputText
          id="accno"
          class="h-2rem"
          placeholder="Enter Account Number"
          name="ACCNO"
          formControlName="ACCNO"
          [pattern]="integerRegex"
          [ngClass]="{'error':submitted && f['EmpNameById'].errors}"
          [@shakeAnimation]=" !(submitted && f['ACCNO'].errors) ?'valid':'invalid'"
        />
        <div *ngIf="submitted && f['ACCNO'].errors" class="alert alert-danger" style="max-width: 230px;">
          <span style="font-size: 12px;" *ngIf="f['ACCNO'].errors?.['required']">Account number is required.</span> 
          <span style="font-size: 12px;" *ngIf="f['ACCNO'].errors?.['pattern']">Please provide valid acc no !!</span>  
          <span style="font-size: 12px;" *ngIf="f['ACCNO'].errors?.['minlength']">Account number must be at least 5 characters long.</span>
          <span style="font-size: 12px;" *ngIf="f['ACCNO'].errors?.['maxlength']">Account number cannot exceed 15 characters.</span>
        </div>
      </div>


      <div class="cont2">
        <label for="accname" class="input-styling"
          >Acc Name<span class="required">*</span></label
        >
        <input
          type="text"
          id="accname"
          pInputText
          class="h-2rem"
          placeholder="Enter Holder Name"
          name="ACCNAME"
          formControlName="ACCNAME"
          [ngClass]="{'error':submitted && f['EmpNameById'].errors}"
          [@shakeAnimation]=" !(submitted && f['ACCNAME'].errors) ?'valid':'invalid'"
        />

        <div *ngIf="submitted && f['ACCNAME'].errors" class="alert alert-danger" style="max-width: 230px;">

          <span style="font-size: 12px;" *ngIf="f['ACCNAME'].errors['required']">Acc Name field is required</span> <br>
          <span style="font-size: 12px;" *ngIf="f['ACCNAME'].errors['word']">Acc Name field should contain only words</span>
          
          </div>
      </div>


      <div class="cont2">
        <label for="bankname" class="input-styling"
          >Bank Name<span class="required">*</span></label
        >
        <input
          type="text"
          pInputText
          id="bankname"
          class="h-2rem disabledButton"
          disabled
          value="Kotak Bank"
          name="BankName"
        />
      </div>
    </form>
  </div>
</p-panel>
