
.disabledButton{
   cursor: not-allowed;
   font-weight: 500;
   font-size: 16px;
}

.invalid {
    border-color: red;
  }

  .error{
    border: 1px solid red !important;
    border-radius: 5px;
}


