
<div class="create-bank-container">
    
    <div class="cbd-container">
        <div class="cbd-caption-content1">
            <h1 class="cbd-title">CREATE BANK DETAILS</h1>
        </div>
        <div class="cbd-buttons-container">
            <button class="creat-button" routerLink="../bankDetails">
              <i class="pi pi-arrow-left icon" style="font-size: 0.7rem;margin-top: 3px;"></i> 
              <p class="btn-text">Back</p>
          </button>
            <button class="creat-button" (click)="savingForm()" form="myForm">
              <i class="pi pi-check icon" style="font-size: 0.7rem;margin-top: 3px;"></i> 
              <p class="btn-text">Save</p>
              </button>
        </div>
    </div>
    
    <form class="cbd-contnt-container" id="myForm" #myForm="ngForm">
        
        <div class="cbd-input-container" >
                 <label for="EmpId" class="label">
                    EmpId<span class="cbd-empClass">*</span>
                </label>
                 <select name="EmpId" id="EmpId" class="cbd-input-fields " [(ngModel)]="employeDetails.EmpNameById">
                     <option class="emp-option" selected="Default" >Select Employee</option>
                     <option  class="emp-option" *ngFor="let empname of  employeess" >{{empname.firstName}} {{empname.lastName}}</option>
                 </select>  
                
             </div>
       <div class="cbd-input-container">
            <label for="accno" class="label">Acc No<span class="cbd-empClass">*</span></label>
            <input type="text" id="accno" class="cbd-input-fields" placeholder="Enter Account Number" name="ACCNO" [(ngModel)]="employeDetails.ACCNO"/>
       </div>
  
       <div class="cbd-input-container">
            <label for="accname" class="label">Acc Name<span class="cbd-empClass">*</span></label>
            <input type="text" id="accname" class="cbd-input-fields" placeholder="Enter Holder Name" name="ACCNO" [(ngModel)]="employeDetails.ACCNAME"/>
       </div>
  
       <div class="cbd-input-container">
            <label for="bankname" class="label ">Bank Name<span class="cbd-empClass">*</span></label>
            <input type="text" id="bankname" class="cbd-input-fields disabledButton" disabled value="Kotak Bank" name="BankName" />
       </div>
    
    </form>
  </div>
  
  