.edit-bank-container{
  
 
}

.ebd-container{
    background-color: rgb(121, 121, 128);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.ebd-caption-content1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.ebd-title{
    font-size: 14px ;
    font-weight: 500;
    color: #ffffff;
    margin-top: 16px;
}
.ebd-buttons-container{
    justify-content: center;
    align-items: center;
    width: 200px;
    display: flex;
    margin-right: -6px;

}
.creat-button{
    display: flex;
    justify-content: center;
    height: 25px;
    color: white !important;
   padding-top: 2px;
   font-size: 12px;
   width: 120px;
   background-color: #3B82F6;
   margin-right: 18px;
   border-radius: 6px;
   outline: none;
   border: none;

}
.btn-text{
    font-size: 14px;
}
.ebd-contnt-container{
    min-height: 240px;
    border: 1px solid rgb(121, 121, 128);
   
    /* border-top: none; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
    flex-wrap: wrap;
    display: flex;
}
.input-container{
    display: flex;
    flex-direction: column;
    width: 31%;
    padding: 7px;
    margin: 10px;

}
.empClass{
    color: red;
    font-weight: 600;
}
.label{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    color: #1d3c41;
}
.input-fields{
    font-size: 16px;
    height: 35px;
    /* border: 1px solid #d7dfe9; */
   font-weight: 500;
    border-radius: 3px;
    padding: 8px 16px 8px 16px;
    max-width: 350px;
    outline: none;
    /* box-shadow: 1px 1px 1px 1px black inset; */
    /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
}

.error{
    border: 1px solid red !important;
}
.disabledButton{
    cursor: not-allowed;
    font-weight: 500;
    font-size: 16px;
 }

 .success-toast {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(0, 128, 68);
    color: white;
    width: 300px !important; 
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
   padding-top: 30px;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    text-align: center;
  }
  
  .success-toast:hover {
    opacity: 1;
  }

  .toast-appear {
    opacity: 1;
    transform: translateY(-50%) scale(1);
    animation: toastAnimation 0.5s;
  }
  
  @keyframes toastAnimation {
    0% {
      transform: translateY(-50%) scale(0.8);
      opacity: 0;
    }
    30% {
      transform: translateY(-50%) scale(1.05);
    }
    100% {
      transform: translateY(-50%) scale(1);
      opacity: 1;
    }
  }