
<div class="edit-bank-container">
    <div class="ebd-container">
        <div class="ebd-caption-content1">
            <h1 class="ebd-title">UPDATE BANK DETAILS</h1>
        </div>
        <div class="ebd-buttons-container">
            <p-toast position="top-center" ></p-toast>
            <button 
            pButton
            class="h-1rem"
            style="float: right; font-size: smaller; margin-right: 10px;align-items: center;"
             routerLink="/navbar/bankDetails"
             >
                 <i class="pi pi-arrow-left icon" style="font-size: 0.7rem;margin-top: 4px;"></i> 
                 <p class="btn-text" style="font-size: 0.8rem;margin-top: 16px;">BACK</p>
            </button>
            <button 
            pButton
            class="h-1rem p-button-success" 
            style="float: right; margin-right: 5px; font-size: smaller"
            form="register"
            type="submit" 
            > 
                <i class="pi pi-check icon" style="font-size: 0.7rem;margin-top: 4px;"></i> 
                <p class="btn-text" style="font-size: 0.8rem;margin-top: 16px;">SAVE</p>

            </button>
        </div>
    </div>

    <form 
     class="ebd-contnt-container"
     id="register"
       #register="ngForm" 
       (ngSubmit)="onClickSave(register.form.valid)" >
       
        <div class="cont2" >
            <label for="EmpId" class="input-styling" 
              >EmpId
              <span class="required">*</span>
            </label>
        
        <input 
        type="text"
         id="EmpId" 
         pInputText
         class="h-2rem"
         style="cursor: not-allowed;"
         disabled value="employeeNameArray.Name" 
         [(ngModel)]="employeeNameArray.Name" 
         name="empId"/>
       </div>



       <div class="cont2" >
        <label for="accno" class="input-styling" 
              >ACCNO
            </label>
        
        <input 
        type="text"
         id="accno" 
         pInputText
         class="h-2rem"
         [(ngModel)]="employeeNameArray.accno"
         name="accno"
         #accno="ngModel"
         required maxlength="15" minlength="5"
          [ngClass]="{'error':submited && accno.errors}"
          [pattern]="integerRegex"
          
         />
         
         <div *ngIf="submited && accno.errors" class="alert alert-danger" style="max-width: 230px;">
             <span style="font-size: 12px;" *ngIf="accno.errors?.['required']">Account number is required.</span> <br>
             <span style="font-size: 12px;" *ngIf="accno.errors?.['pattern']">Please provide valid acc no !!</span> <br>
             <span style="font-size: 12px;" *ngIf="accno.errors?.['maxlength']">Account number cannot exceed 15 characters.</span> 
             <span style="font-size: 12px;" *ngIf="accno.errors?.['minlength']">Account number must be at least 5 characters long.</span>
         </div>
       </div>


       <div class="cont2" >
        <label for="accname" class="input-styling" 
              >ACCNAME
            </label>
       
        <input
         type="text" 
         id="accname"
         pInputText
         class="h-2rem"
         style="cursor: not-allowed;"
          disabled 
          [(ngModel)]="employeeNameArray.accname"
          name="accname"
          #accname="ngModel"
         
           />
       </div>

       <div class="cont2" >
        <label for="bankname" class="input-styling" 
              >BankName
            </label>
        
        <input
         type="text" 
         id="bankname" 
         pInputText
         class="h-2rem"
         style="cursor: not-allowed;"
          disabled value="Kotak mahindra" 
          [(ngModel)]="employeeNameArray.bankName"
          name="bankname"
          />
       </div>
    </form>

    
</div>


