
<p-panel  >
  <ng-template pTemplate="header" >
    <div  class="col -md-6" style="text-align:left">
    <strong>CHANGE PASSWORD</strong>
  </div>
  <div class="col-sm-6" style="text-align:right">
    <button pButton  type="button" icon="pi pi-arrow-left icon" style="float: right;font-size: small;font-weight: 500;margin-right:10px;" class=" h-1rem" [routerLink]="['/navbar']">BACK</button>&nbsp;
    <button pButton  type="button"  icon="pi pi-check icon" style="float: right;font-size: small;font-weight: 500;margin-right:10px;" class=" p-button-success h-1rem" (click)="formSubmit()" >SAVE</button>
    
</div>
<p-toast position="top-center" ></p-toast>
  </ng-template>
  <div class="row">
    <div class="col-md-4 p-4">
    <form  class=" form-styles" [formGroup]="form" >


      <div class="cont2" >
        <label>Old Password<span class="required">*</span></label>
  <input
    type="text"
    pInputText
    class="p-inputtext-normal h-2rem"
    placeholder="Enter Old Password"
    name="oldPass"
    formControlName="oldPass"
    [required]="true"

  />
  <br>
  <small class="text-danger"   *ngIf="!form.get('oldPass')?.valid &&(form.get('oldPass')?.touched||form.get('oldPass')?.dirty)">Old Password is required</small>

</div>
<div class="cont2">
  <label>New Password<span class="required">*</span></label>
  <input
    type="text"
    pInputText
    class="p-inputtext-normal h-2rem"
    placeholder="Enter New Password"
    name="newPass"
    formControlName="newPass"
    [required]="true"
  />
  <br>
  <small class="text-danger"   *ngIf="!form.get('newPass')?.valid &&(form.get('newPass')?.touched||form.get('newPass')?.dirty)">New Password is required</small>
</div>
<div class="cont2">
  <label>Confirm Password<span class="required">*</span></label>
  <input
    type="text"
    pInputText
    class="p-inputtext-normal h-2rem"
    placeholder="Confirm Password"
    name="confirmPass"
    formControlName="confirmPass"
    [required]="true"
  />
  <br>
  <small class="text-danger"   *ngIf="!form.get('confirmPass')?.valid &&(form.get('confirmPass')?.touched||form.get('confirmPass')?.dirty)">Confirm Password is required</small>

</div>

    </form>

    </div>
</div>

</p-panel>








<!-- 
<p-panel>

  <ng-template pTemplate="header">
    <div class="col -md-6">
      <strong>CHANGE PASSWORD </strong>
    </div>
    <div class="col-sm-6" style="text-align:right">
      <button pButton  type="button" icon="pi pi-arrow-left icon" style="float: right;font-size: small;font-weight: 500;margin-right:10px;" class=" h-1rem" [routerLink]="['/navbar']">BACK</button>&nbsp;
      <button pButton  type="button"  icon="pi pi-check icon" style="float: right;font-size: small;font-weight: 500;margin-right:10px;" class=" p-button-success h-1rem" (click)="formSubmit()" >SAVE</button>
      <p-toast position="top-center" ></p-toast>
  </div>
  </ng-template>
  <form  [formGroup]="form">

  <div class="row">

    <div class="col-md-4 p-5">
<div class="cont2">
  <label>Old Password<span class="required">*</span></label>
  <input
    type="text"
    pInputText
    class="p-inputtext-normal h-2rem"
    placeholder="Enter Old Password"
    name="oldPass"
    formControlName="oldPass"
    [required]="true"

  />
  <br>
  <small class="text-danger ml-8"   *ngIf="!form.get('oldPass')?.valid &&(form.get('oldPass')?.touched||form.get('oldPass')?.dirty)">Old Password is required</small>

</div>
     

    </div>


    <div class="col-md-4 p-5">
      <div class="cont2">
      <label>New Password<span class="required">*</span></label>
      <input
        type="text"
        pInputText
        class="p-inputtext-normal h-2rem"
        placeholder="Enter New Password"
        name="newPass"
        formControlName="newPass"
        [required]="true"
      />
      <br>
      <small class="text-danger ml-8"   *ngIf="!form.get('newPass')?.valid &&(form.get('newPass')?.touched||form.get('newPass')?.dirty)">New Password is required</small>
    </div>
    </div>
    <div class="col-md-4 p-5">
      <div class="cont2">
      <label>Confirm Password<span class="required">*</span></label>
      <input
        type="text"
        pInputText
        class="p-inputtext-normal h-2rem"
        placeholder="Confirm Password"
        name="confirmPass"
        formControlName="confirmPass"
        [required]="true"
      />
      <br>
      <small class="text-danger ml-8"   *ngIf="!form.get('confirmPass')?.valid &&(form.get('confirmPass')?.touched||form.get('confirmPass')?.dirty)">Confirm Password is required</small>

    </div>
    </div>
  </div>
</form>
</p-panel>
<ng-template>

</ng-template> -->



