
<p-panel>

  <ng-template pTemplate="header">
    <div class="col -md-6">
      <strong>CHANGE PASSWORD </strong>
    </div>
    <div class="col-sm-6" style="text-align:right">
      <button pButton  type="button" icon="pi pi-arrow-left icon" style="float: right;font-size: small;font-weight: 500;margin-right:10px;" class=" h-1rem" [routerLink]="['/navbar']">BACK</button>&nbsp;
      <button pButton  type="button"  icon="pi pi-check icon" style="float: right;font-size: small;font-weight: 500;margin-right:10px;" class=" p-button-success h-1rem" (click)="formSubmit()" >SAVE</button>
      <p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
      [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
  </div>
  </ng-template>
  <form  [formGroup]="form">

  <div class="row">

    <div class="col-md-4 p-5">

      <label>Old Password<span class="required">*</span></label>
      <input
        type="text"
        pInputText
        class="p-inputtext-normal h-2rem"
        placeholder="Enter Old Password"
        name="oldPass"
        formControlName="oldPass"
        [required]="true"

      />

    </div>


    <div class="col-md-4 p-5">
      <label>New Password<span class="required">*</span></label>
      <input
        type="text"
        pInputText
        class="p-inputtext-normal h-2rem"
        placeholder="Enter New Password"
        name="newPass"
        formControlName="newPass"
        [required]="true"
      />
    </div>
    <div class="col-md-4 p-5">
      <label>Confirm Password<span class="required">*</span></label>
      <input
        type="text"
        pInputText
        class="p-inputtext-normal h-2rem"
        placeholder="Confirm Password"
        name="confirmPass"
        formControlName="confirmPass"
        [required]="true"
      />

    </div>

  </div>
</form>
</p-panel>
<ng-template>

</ng-template>
