







<p-panel>
    <ng-template pTemplate="header">
      <div  class="col -md-6" style="text-align:left">
      <strong>SALARY DISPLAY LIST  </strong>
      <input type="text" pInputText placeholder="Search Employee" (input)="table.filterGlobal($any($event.target).value,'contains')"    />
    </div>
        <div class="col-sm-6" style="text-align:right">
            <button pButton class="h-1rem" routerLink="../create-new-salary-details" class="h-2rem"style="float: right;font-size: small;font-weight: 500;margin-top:6px ;">+ CREATE NEW</button>
        
    </div>
    </ng-template> 
    <p-table #dt [value]="empSalDetails" [tableStyle]="{'min-width': '50rem'}" [paginator]="true" [rows]="10"  styleClass="p-datatable-gridlines"   [globalFilterFields]="['FirstName','empId','firstName','nextRevisedDate','lastRevisedDate','salary']">
    <ng-template pTemplate="header">
        <tr>

            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Employee ID
                    <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
                </div>

            </th>
            <th><div class="p-d-flex p-jc-between p-ai-center">
                Employee name
                <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
            </div></th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Salary
                    <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
                </div>

            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Last Revised Date
                    <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
                </div>

            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Next Revised Date
                    <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Employee>
        <tr>
            <!-- <td><a href="#" [routerLink]="['../updateSalaryDetails', Employee.empId]" (click)="getEmployeeById(Employee.empId)">KC{{Employee.empId<100?'0'+Employee.id:Employee.empId}}</a> -->
           
                <td><a href="#" [routerLink]="['../updateSalaryDetails', Employee.empId]" >KC{{Employee.empId<100?'0'+Employee.id:Employee.empId}}</a>

           
            </td>
        <td>{{Employee.firstName}} {{Employee.lastName}}</td>
        <td>{{Employee.salary}}</td>
        <td>{{Employee.lastRevisedDate| date: 'dd-MM-yyyy'}}</td>
        <td>{{Employee.nextRevisedDate| date: 'dd-MM-yyyy'}}</td>
        </tr>
    </ng-template>
  
  </p-table> 
  </p-panel>
  
