<p-panel>
  <ng-template pTemplate="header">
    <div class="col -md-6" style="text-align: left">
      <strong>CREATE EMPLOYEES </strong>
    </div>
    <div class="col-sm-6" style="text-align: right">
      <button
        pButton
        class="h-1rem"
        style="float: right; font-size: smaller; margin-right: 10px"
        routerLink="../Employees"
      >
        <i class="pi pi-arrow-left icon"></i>BACK
      </button>
      <button
        pButton
        class="h-1rem p-button-success"
        style="float: right; margin-right: 5px; font-size: smaller"
        type="submit"
        [disabled]="save_button"
        (click)="save()"
      >
        <i class="pi pi-check icon"></i>SAVE
      </button>
    </div>
  </ng-template>
  <form [formGroup]="empForm">
    <div class="row">
      <div class="col-md-4">
        <div class="col-12 md:col-4">
          <label for="employeeID" class="input-styling"
            >EmployeeID <span class="required">*</span></label
          >
          <input
            (change)="onchange()"
            type="text"
            formControlName="employeeID"
            pInputText
            class="p-inputtext-normal h-2rem"
            placeholder="Enter Employee ID"
            required
          />
          <small class="text-danger "  *ngIf="!empForm.get('employeeID')?.valid &&(empForm.get('employeeID')?.touched||empForm.get('employeeID')?.dirty)">EmpID is required
          </small>
          <br />
          <br />
          <label for="email" class="input-styling"
            >Email <span class="required">*</span></label
          >
          <input
            type="email"
            (change)="onchange()"
            formControlName="email"
            class="p-inputtext-normal h-2rem"
            required
            pInputText
            placeholder="Enter Email"
          />
          <small class="text-danger "  *ngIf="!empForm.get('email')?.valid &&(empForm.get('email')?.touched||empForm.get('email')?.dirty)">Email is required
          </small>
          <br />
          <br />

          <label for="designationName" class="input-styling"
            >DesignationID <span class="required">*</span></label
          >
          <p-dropdown
            [options]="roles"
            name="designationName"
            formControlName="designationName"
            optionLabel="name"
            placeholder="Select Role"
          ></p-dropdown>
          <small class="text-danger "  *ngIf="!empForm.get('designationName')?.valid &&(empForm.get('designationName')?.touched||empForm.get('designationName')?.dirty)">DesignationName is required
          </small>

          <br />
          <br />

          <p-checkbox
            formControlName="isActive"
            name="active"
            inputId="ia"
            [binary]="true"
          ></p-checkbox>
          <label for="any">IsActive<span class="required">*</span></label>
          <br>
          <small class="text-danger "  *ngIf="!empForm.get('isActive')?.valid &&(empForm.get('isActive')?.touched||empForm.get('isActive')?.dirty)">IsActive is required
          </small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-12 md:col-4">
          <label for="firstName" class="input-styling"
            >FirstName <span class="required">*</span></label
          >
          <input
            type="text"
            pInputText
            formControlName="firstName"
            class="p-inputtext-normal h-2rem"
            required
            placeholder="Enter First Name"
          />
          <small class="text-danger "  *ngIf="!empForm.get('firstName')?.valid &&(empForm.get('firstName')?.touched||empForm.get('firstName')?.dirty)">First Name is required
          </small>
          <br />
          <br />

          <label for="panNumber" class="input-styling"
            >PanNumber <span class="required">*</span></label
          >
          <input
            type="text"
            formControlName="panNumber"
            class="p-inputtext-normal h-2rem"
            pInputText
            placeholder="Enter PAN Number"
          />
          <small class="text-danger "  *ngIf="!empForm.get('panNumber')?.valid &&(empForm.get('panNumber')?.touched||empForm.get('panNumber')?.dirty)">PAN Number is required
          </small>
          <br />
          <br />

          <label for="shiftName" class="input-styling"
            >ShiftId <span class="required">*</span></label
          >

          <p-dropdown
            [options]="Shifts"
            name="shiftName"
            optionLabel="shiftName"
            formControlName="shiftName"
            placeholder="Select Shift"
          ></p-dropdown>
          <small class="text-danger "  *ngIf="!empForm.get('shiftName')?.valid &&(empForm.get('shiftName')?.touched||empForm.get('shiftName')?.dirty)">ShiftName is required
          </small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-12 md:col-4">
          <label for="lastName" class="input-styling" required
            >LastName<span class="required">*</span>
          </label>
          <input
            type="text"
            formControlName="lastName"
            class="p-inputtext-normal h-2rem"
            required
            pInputText
            placeholder="Enter Last Name"
          />
          <small class="text-danger "  *ngIf="!empForm.get('lastName')?.valid &&(empForm.get('lastName')?.touched||empForm.get('lastName')?.dirty)">Last Name is required
          </small>
          <br />
          <br />
          <label for="Password" class="input-styling" required
            >Password<span class="required">*</span>
          </label>
          <input
            type="password"
            formControlName="Password"
            class="p-inputtext-normal h-2rem"
            required
            pInputText
            placeholder="Enter Password"
          />
          <small class="text-danger "  *ngIf="!empForm.get('Password')?.valid &&(empForm.get('Password')?.touched||empForm.get('Password')?.dirty)">Password is required
          </small>
          <br />
          <br />

          <label for="dateofjoining-input" class="input-styling" required
            >DOJ <span class="required">*</span>
          </label>
          <p-calendar
            id="dateofjoining-input"
            placeholder="DD-MM-YYYY"
            formControlName="doj"
          ></p-calendar>
          <small class="text-danger "  *ngIf="!empForm.get('doj')?.valid &&(empForm.get('doj')?.touched||empForm.get('doj')?.dirty)">doj is required
          </small>
        </div>
      </div>
    </div>
  </form>
</p-panel>
