.cont{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.icon{
    font-size: 10px;
    padding-right:5px;
}
label {
    font-weight: bold;
    font-family: Poppins-Regular;
 
 }

 .preview {
    max-width: 200px;
  }
  

  .col-8 {
    /* flex: 0 0 auto; */
    /* padding: 0.5rem; */
    /* width: 66.6667%; */
    display: flex;
    justify-content: space-around;
}