<p-panel>
  <ng-template pTemplate="header">
    <div class="col -md-6" style="text-align:left">
      <strong>UPDATE PROFILE PHOTO </strong>
    </div>
    <div class="col-sm-6" style="text-align:right">
      <button pButton class="h-1rem p-button-success" (click)="upload()"
        style="float: right;margin-right:5px; font-size: smaller;"><i class="pi pi-check icon"></i>UPLOAD</button>
    </div>
  </ng-template>
  <div class="row">
    <div class="row">
      <div class=fileupload>
        <label class="btn btn-default p-0">

          <input type="file" (change)="onChange($event)" />
        </label>
        <div>
          <img src="{{preview}}" class="preview" />
        </div>
      </div>

    </div>

  </div>