<p-panel>
  <ng-template pTemplate="header">
    <div class="col -md-6" style="text-align:left">
      <strong>UPDATE PROFILE PHOTO </strong>
    </div>
    <div class="col-sm-6" style="text-align:right">
      <button pButton class="h-1rem" style="float: right;margin-right:5px; font-size: smaller;" ><i
          class="pi pi-check icon"></i>SAVE</button>
    </div>
  </ng-template>
  <div class="row">
   
      <div>
        <form class=" form-styles cont  "[formGroup]="updateform" >
          <div class="cont2 ">
            <label for="designation-input" class="input-styling" required>EmpID
              <span class="required">*</span>
            </label>
            <input id="designation-input" formControlName="id" type="input" pInputText />
          </div>
          <div class="cont2">
            <label for="designation-input" class="input-styling" required>Photo
              <span class="required">*</span>
            </label>
            <p-fileUpload #fubauto mode="basic" name="demo[]" url="https://localhost:7236/UpdateProfilePhoto" accept="image/*" [auto]="true"
              chooseLabel="Browse" (onUpload)="onUpload($event)"></p-fileUpload>
          </div>
        </form>
      </div>
