<p-panel>
  <ng-template pTemplate="header">
    <div  class="col -md-6" style="text-align:left" >
    <strong>PAY SLIP </strong>
  </div>

  </ng-template>
  <div class="col-md-4 p-4">
    <form [formGroup]="myReactiveForm">
    <div class="cont2">
      <label class="input-styling">Select Month & Year<span class="required">*</span></label>

      <p-calendar  view="month" dateFormat="mm/yy" [yearNavigator]="true"   placeholder="Month"   [readonlyInput]="true" inputId="monthpicker" formControlName="payslip"></p-calendar>
      <small class="text-danger "  *ngIf="!myReactiveForm.get('payslip')?.valid &&(myReactiveForm.get('payslip')?.touched||myReactiveForm.get('payslip')?.dirty)">Month is required</small>
    </div>


      <!-- <button pButton  (click)="Alert()" class="h-1rem p-button-success"style="float: right;font-size: small;font-weight: 500;margin-right:10px;">SUBMIT</button>   -->
<div style="margin-left:38px;">
  <button pButton  type="button"  (click)="Alert()" class=" p-button-success  h-1rem" style="font-weight: 500;font-size:small;">SUBMIT</button>
</div>

</form>

  </div>
</p-panel>
