 .nav-content{
    display: flex;
    justify-content: space-between;

}

.right-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-content{
    padding-top: 10px;
    margin: 10px;
}
.leaves{
    margin: 30px;
}
.profile{
    width:max-content;
}
.nav-item{
    display: flex;
    justify-content: space-between;
}
/* img{
border-radius: 50%;

} */
/*
.div-img{
    justify-content: center;
    align-items: center;
    display:flex;
    padding-top:20%;
}
  img{
    transition: transform .2s;
    width:50px;
    height:50px;
    margin:0 auto;
    background-color: rgb(173, 173, 237);
    border-radius: 10px;
    border: 1px solid black;
}
img:hover{
    transform:scale(2.5);
}
.navbar-nav .mr-auto{
    margin: 15px;
} */



.mat-toolbar.mat-primary {
    /* background: #495cc5;  */
    /* background: #3f51b5; */
    /* background: rgb(139, 136, 136); */
    background: rgb(28 54 99);
    color: #fff;
}

footer {
    background-color: #c0c0c0;
    min-height: 30px;
    width: 100%;
    bottom: 0;
    position: fixed;
    padding: 5px;
}
.customizing{
   cursor: pointer;
   font-size: medium;
   font-weight:400;
   padding-left: 37px;
}
.profile-class{
    width:50px;
    border-radius: 50%;
}
