 .nav-content{
    display: flex;
    justify-content: space-between;
    
} 

.right-content{
    display: flex;
    align-items: center;
}

.bottom-content{
    padding-top: 10px;
    margin: 10px;
}
.leaves{
    margin: 30px;
}
.profile{
    margin: 30px;
}


img {
    border-radius: 50%;
  }
/* .navbar-nav .mr-auto{
    margin: 15px;
} */



.mat-toolbar.mat-primary {
    /* background: #495cc5;  */
    /* background: #3f51b5; */
    background: rgb(139, 136, 136);
    color: #fff;
}

footer {
    background-color: #c0c0c0;
    min-height: 30px;
    width: 100%;
    bottom: 0;
    position: fixed;
    padding: 5px;
}
.customizing{
   cursor: pointer;
   font-size: medium;
   font-weight:400;
}
.profile-class{
    width:50px;
}