<div class="main">

    <mat-toolbar class="nav-content" color="primary">

        <div class="right-content">
            <div class="navbar-nav mr-auto">
                <img src="assets/codecorpimage.png"  width="80px"height="80px" alt=" "style="padding: 10px; margin: 10px ;" />
            </div>
            <div class="navbar-nav mr-auto">
                <a class="nav-link customizing" [routerLink]="['paySlip']" >Payslip</a>
            </div>

            <div class="leaves">
                <div class=" mr-auto">


                    <div class="nav-item" routerLinkActive="active" (mouseout)="$event.stopPropagation()">
                        <a class="nav-link customizing" #levelOneTrigger="matMenuTrigger"
                            (mouseenter)="levelOneTrigger.openMenu()" [matMenuTriggerFor]="levelOne" >Leaves</a>
                        <mat-menu #levelOne="matMenu" direction="down" yPosition="below">
                            <span (mouseleave)="levelOneTrigger.closeMenu()">
                                <button mat-menu-item [routerLink]="['apply']" (click)="hideHome()">
                                    <mat-icon>event_note</mat-icon>Apply Leave</button>
                                <button mat-menu-item [routerLink]="['access']"><mat-icon>people</mat-icon>
                                    EmployeeAccess</button>
                                <div *ngIf="showAdminBoard">
                                    <button mat-menu-item [routerLink]="['leavesApprov']">
                                        <mat-icon>event_busy</mat-icon>Leaves Approval</button>
                                    <button mat-menu-item
                                        [routerLink]="['employee-leaves']"><mat-icon>event_available</mat-icon> Employee
                                        Leaves
                                    </button>
                                </div>
                            </span>
                        </mat-menu>
                    </div>
                </div>
            </div>


            <div class="admin" *ngIf="showAdminBoard">
                <div class="navbar-nav mr-auto">

                    <div class="nav-item" routerLinkActive="active" (mouseout)="$event.stopPropagation()">
                        <a class="nav-link customizing" #levelOneTrigger="matMenuTrigger"
                            (mouseenter)="levelOneTrigger.openMenu()" [matMenuTriggerFor]="levelOne" >Admin</a>
                        <mat-menu #levelOne="matMenu" direction="down" yPosition="below">
                            <span (mouseleave)="levelOneTrigger.closeMenu()">
                                <!-- <mat-menu #createPlan="matMenu"> -->
                                <button mat-menu-item [routerLink]="['Employees']"
                                    (click)="hideHome()"><mat-icon>people</mat-icon>Employees</button>
                                <button mat-menu-item [routerLink]="['salDeduction']"><img src="assets/rupe.png"
                                        alt="profile-pic"  style="padding-right:20px;height:20px;">Salary
                                    Deductions</button>
                                <button mat-menu-item
                                    [routerLink]="['create-designation']"><mat-icon>add_circle</mat-icon>
                                    Create Designation</button>
                                <button mat-menu-item [routerLink]="['create-taxtype']">
                                    <mat-icon>add_circle</mat-icon>
                                    Create TaxType</button>
                                <button mat-menu-item
                                    [routerLink]="['bankDetails']"><mat-icon>account_balance</mat-icon>
                                    Bank
                                    Details</button>
                                <button mat-menu-item [routerLink]="['salary-details']"><img src="assets/rupe.png"
                                        alt="profile-pic" style="padding-right: 20px;height:20px;">Salary
                                    Details</button>
                            </span>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>



        <div class="profile">

            <div class="navbar-nav mr-auto">

                <div class="nav-item" routerLinkActive="active" (mouseout)="$event.stopPropagation()">
                    <a class="nav-link customizing" #levelTWoTrigger="matMenuTrigger"
                        (mouseenter)="levelTWoTrigger.openMenu()" [matMenuTriggerFor]="levelTWo">Welcome {{name}} <img src="{{profilePic}}" class="profile-class" width="50px"height="50px" alt=" " /> </a>
                    <mat-menu #levelTWo="matMenu" direction="down" yPosition="below">

                        <span (mouseleave)="levelTWoTrigger.closeMenu()">
                            <button mat-menu-item [routerLink]="['updatephoto']">
                                <mat-icon>camera_enhance</mat-icon> Update Photo</button>
                            <button mat-menu-item [routerLink]="['updateprofile']">
                                <mat-icon>person</mat-icon>Profile</button>
                            <button mat-menu-item [routerLink]="['changepassword']">
                                <mat-icon>build</mat-icon>Change Password</button>
                            <button mat-menu-item (click)="logout()">
                                <mat-icon>exit_to_app</mat-icon>Logout</button>
                        </span>
                    </mat-menu>
                </div>
            </div>
        </div>


    </mat-toolbar>

    <div class="bottom-content" *ngIf="showAdminBoard">
        <app-home *ngIf="isHome"></app-home>


    </div>

    <div class="bottom-content">
        <router-outlet></router-outlet>
    </div>


    <footer>©2023 - Kode Corp Technology Solutions Pvt.Ltd </footer>
</div>